<p id="notice"><%= notice %></p>

<h1>Guestbooks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guestbooks.each do |guestbook| %>
      <tr>
        <td><%= guestbook.name %></td>
        <td><%= guestbook.message %></td>
        <td><%= link_to 'Show', guestbook %></td>
        <td><%= link_to 'Edit', edit_guestbook_path(guestbook) %></td>
        <td><%= link_to 'Destroy', guestbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guestbook', new_guestbook_path %>
